extends base.pug

block content 
    h1 Home!~
    each video in videos
        div 
            h2=video.title
            ul 
                li #{video.rating}/5 
                li #{video.views} views
    else 
        div no data